@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@100;200;300;400;500;600;700;800;900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: #273341;
    color: wheat;
    font-family: 'Raleway', sans-serif;
    border: 4px solid wheat;
    min-height: 100vh;
    padding: 20px;
    display: flex;
    justify-content: flex-start;
    /* align-items: center; */
}
.nameSection{
    width: 45vw;
    margin: 40px;
}
.nameSection h1{
    padding-top: 20px;
    padding-bottom: 20px;
}
.nameSection{
    line-height: 30px;
}
img{
    width: 200px;border-radius: 100px;
    height:200px;
    transform: rotateX(160deg);
    border: 2px solid wheat;
    padding: 5px;
    animation: imgAni 2s infinite;
}
.linkSection{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    width: 100%;
    border-left: 1px solid wheat;
}
.links{
    display: flex;
    align-items: center;
    position: relative;
    border-bottom: 2px solid darkgray;
    width: 90%;
    cursor: pointer;
    padding-left: 20px;
}
.links a{
    text-decoration: none;
    color: wheat;
    font-size: 25px;
    line-height: 70px;
    padding-bottom: 20px;
    background-color: #273341;
    position: relative;
    overflow: hidden;
    display: flex;
    align-items: center;
    flex: 1;
    background-color: #273341;
}
.links h1{
    z-index: 1;
    background-color: #273341;
}
span{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    border-left: 2px solid gray;
    margin-left: 20px;
    padding-left: 20px;
    position: absolute;
    z-index: 0;
    cursor: pointer;
    /* width: 100%; */
}
.mail > a:hover > span{
    transform: translateX(420px);
    transition: all 0.5s ease-in-out;
}
.facebook > a:hover > span{
    transform: translateX(230px);
    transition: all 0.5s ease-in-out;
}
.instagram > a:hover > span{
    transform: translateX(260px);
    transition: all 0.5s ease-in-out;
}
.github > a:hover > span{
    transform: translateX(330px);
    transition: all 0.5s ease-in-out;
}
.Linkedean > a:hover > span{
    transform: translateX(370px);
    transition: all 0.5s ease-in-out;
}
.frontendMentor > a:hover > span{
    transform: translateX(400px);
    transition: all 0.5s ease-in-out;
}
@keyframes imgAni {
    0%{transform: rotateY(-360deg);}
    100%{transform: rotateY(360deg);}
}
.modes{
    background-color: wheat;
    color: #273341;
    border: 4px solid #273341;
}
@media (max-width:768px) {
    body{
        display: flex;
        flex-direction: column;
    }
    .nameSection{
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        margin: 0%;
    }
    .nameSection p{
        border-bottom: 4px solid wheat;
        padding-bottom: 20px;
        text-align: center;
    }
    .linkSection{
        border: none;
    }
    .links{
        width: 100%;
    }
    .links a{
        align-items: center;
        padding-bottom: 0%;
    }
    .links a h1{
        font-size: 17px;
    }
    .links span{
        font-size: 16px;
        transform: translateX(-100px);
    }
    .facebook > a:hover > span{
        transform: translateX(70px);
        transition: all 0.5s ease-in-out;
    }
    .instagram > a:hover > span{
        transform: translateX(100px);
        transition: all 0.5s ease-in-out;
    }
    .github > a:hover > span{
        transform: translateX(100px);
        transition: all 0.5s ease-in-out;
    }
    .Linkedean > a:hover > span{
        transform: translateX(140px);
        transition: all 0.5s ease-in-out;
    }
    .frontendMentor > a:hover > span{
        transform: translateX(130px);;
        transition: all 0.5s ease-in-out;
    }
}
